<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/add-user" class="border-shadow">
                <span><i class="fa-solid fa-user"></i> Ajouter Utlisateur</span>
            </a>
        </div>
        <form action="/" method="post">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>Genre</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < users.length; i++ ) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].gender %></td>
                        <td><%= users[i].status %></td>
                        <td>
                            <a href="/update-user/<%=users[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fa fa-pencil-alt"></i></span>
                            </a>
                            <a href="/delete-user/<%=users[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i class="fas fa-times"></i></span>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>
</main>